﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Faculty Of Medicine | Login</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">M+</h1>

            </div>
            <h3>Welcome to M+</h3>
                <p>
                    Assessment Management System | Faculty Of Medicine | Chulalongkorn University
                </p>
                <p>Login in. To see it in action.</p>
            <form class="m-t" role="form" data-bind="submit: login">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Username" required="" data-bind="value: loginEmail">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="" data-bind="value: loginPassword">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                @*<a href="#"><small>Forgot password?</small></a>
                    <p class="text-muted text-center"><small>Do not have an account?</small></p>
                    <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Register", "Pages")">Create an account</a>*@
            </form>
            @*<p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2015</small> </p>*@
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
</body>

</html>


