﻿@model Core.ViewModels.AssessmentViewModel

@{
    ViewBag.Title = "Details";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details Assessment</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.SchoolYear)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SchoolYear)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.SubjectName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SubjectName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Duration)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Duration)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AmountOfQuestion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AmountOfQuestion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ExplainationText)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ExplainationText)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PassingScore)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PassingScore)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FullScore)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FullScore)
                        </dd>
                    </dl>

                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white" })

                </div>
            </div>
        </div>
    </div>
</div>