﻿@model Core.ViewModels.AssessmentViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Edit</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit Assessment</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name)
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SchoolYear, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SchoolYear)
                                    @Html.ValidationMessageFor(model => model.SchoolYear)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SubjectName, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("SubjectId", null, htmlAttributes: new { @class = "form-control m-b" })
                                    @*@Html.EditorFor(model => model.SubjectId)*@
                                    @Html.ValidationMessageFor(model => model.SubjectId)
                                    @*@Html.DropDownList("Subjects", (IEnumerable<SelectListItem>)ViewBag.Subjects, new { @class = "form-control m-b" })*@
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Duration, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Duration)
                                    @Html.ValidationMessageFor(model => model.Duration)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AmountOfQuestion, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AmountOfQuestion)
                                    @Html.ValidationMessageFor(model => model.AmountOfQuestion)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ExplainationText, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.ExplainationText, 5, 100, null)
                                    @Html.ValidationMessageFor(model => model.ExplainationText)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PassingScore, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PassingScore)
                                    @Html.ValidationMessageFor(model => model.PassingScore)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.FullScore, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.FullScore)
                                    @Html.ValidationMessageFor(model => model.FullScore)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white" })
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</div>
