﻿@model PagedList.IPagedList<Core.Entities.Questions>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ViewQuestions";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>manage question</h2>
        <ol class="breadcrumb">
            <li class="active">
                administrator/instructor able to manage question and answers
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" >
    <div class="row" ng-controller="MainController">
        <div class="col-lg-7" ng-init="assId = @ViewBag.AssessmentId">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Question Management</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="#">Config option 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>*@
                    </div>
                </div>
                <div class="ibox-content">
                    <a ng-click="CreateNewAnswer()">Create new Question</a>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Questions</th>
                                <th>Position</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr ng-class="{active : @item.Id == questionId}">
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Position</td>
                                    <td>
                                        <i class="fa fa-pencil" ng-click="LoadAnswer(@item.Id)"></i>
                                    </td>
                                </tr>
                            }
                            @*<tr>
                                    <td>2</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>fat</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>twitter</td>
                                </tr>*@
                        </tbody>
                    </table>
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("ViewQuestions",
             new { page, id = ViewBag.AssessmentId }))
                </div>
            </div>
            <!--<div class="ibox ">
                <div class="ibox-title">
                    <h5>This Assessment</h5>
                </div>
                <div class="ibox-content">
                    <p>
                        <strong>Question</strong> is the....
                    </p>

                    <div class="jqGrid_wrapper">
                        <table id="table_list_1"></table>
                        <div id="pager_list_1"></div>
                    </div>

                    @*<h4>Advanced example</h4>
                        <p>

                        </p>

                        <div class="jqGrid_wrapper">
                            <table id="table_list_2"></table>
                            <div id="pager_list_2"></div>
                        </div>*@
                </div>
            </div>-->
        </div>
        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Question Form</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <p>Add new Question</p>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Title</label>
                            <div class="col-lg-10">
                                <input type="text" placeholder="What's this color?" class="form-control" ng-model="questionTitle">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Position</label>
                            <div class="col-lg-10">
                                <input type="number" placeholder="1-60" class="form-control" ng-model="questionPosition">
                            </div>
                        </div>
                        <div class="form-group" ng-repeat="ans in answers">
                            <label class="col-lg-2 control-label">{{$index+1}}</label>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Red" class="form-control" ng-model="ans.Answer">
                            </div>
                            <div class="col-lg-3">
                                <input type="number" placeholder="0-10" class="form-control" ng-model="ans.Point">
                            </div>
                            <div class="col-lg-1 aligncenter">
                                <i class="fa fa-trash-o" style="font-size:24px;" ng-click="removeAnswer(ans)"></i>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label class="col-lg-2 control-label">b</label>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Green" class="form-control">
                                </div>
                                <div class="col-lg-3">
                                    <input type="number" placeholder="0-10" class="form-control">
                                </div>
                                <div class="col-lg-1 aligncenter">
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">c</label>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="White" class="form-control">
                                </div>
                                <div class="col-lg-3">
                                    <input type="number" placeholder="0-10" class="form-control">
                                </div>
                                <div class="col-lg-1 aligncenter">
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">d</label>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Black" class="form-control">
                                </div>
                                <div class="col-lg-3">
                                    <input type="number" placeholder="0-10" class="form-control">
                                </div>
                                <div class="col-lg-1 aligncenter">
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-sm btn-white" type="button" ng-click="addNewAnswer()">Add More Answer</button>
                                <button class="btn btn-sm btn-white" type="submit" ng-click="addQuestion()" ng-show="!editMode">Add Question</button>
                                <button class="btn btn-sm btn-white" type="submit" ng-click="updateQuestion()" ng-show="editMode">Update Question</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
    @Styles.Render("~/plugins/fullCalendarStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/fullCalendar")
    @Scripts.Render("~/plugins/jqGrid")

    <script type="text/javascript">

        // Creat JSON url to controller
        var chartDataUrl = '@Url.Action("flotJsonData", "Json")';
        var tableDataUrl = '@Url.Action("tableJsonData", "Json")';
        var eventsDataUrl = '@Url.Action("calendarEvents", "Json")';
        var tasksDataUrl = '@Url.Action("tasksJsonData", "Json")';

        $(document).ready(function () {
            // Examle data for jqGrid
            var mydata = [
                { id: "1", invdate: "2010-05-24", title: "test", note: "note", tax: "10.00", total: "2111.00" },
                { id: "2", invdate: "2010-05-25", title: "test2", note: "note2", tax: "20.00", total: "320.00" },
                { id: "3", invdate: "2007-09-01", title: "test3", note: "note3", tax: "30.00", total: "430.00" },
                { id: "4", invdate: "2007-10-04", title: "test", note: "note", tax: "10.00", total: "210.00" },
                { id: "5", invdate: "2007-10-05", title: "test2", note: "note2", tax: "20.00", total: "320.00" },
                { id: "6", invdate: "2007-09-06", title: "test3", note: "note3", tax: "30.00", total: "430.00" },
                { id: "7", invdate: "2007-10-04", title: "test", note: "note", tax: "10.00", total: "210.00" },
                { id: "8", invdate: "2007-10-03", title: "test2", note: "note2", point: "300.00", tax: "21.00", total: "320.00" },
                { id: "9", invdate: "2007-09-01", title: "test3", note: "note3", point: "400.00", tax: "30.00", total: "430.00" },
                { id: "11", invdate: "2007-10-01", title: "test", note: "note", point: "200.00", tax: "10.00", total: "210.00" },
                { id: "12", invdate: "2007-10-02", title: "test2", note: "note2", point: "300.00", tax: "20.00", total: "320.00" },
                { id: "13", invdate: "2007-09-01", title: "test3", note: "note3", point: "400.00", tax: "30.00", total: "430.00" },
                { id: "14", invdate: "2007-10-04", title: "test", note: "note", point: "200.00", tax: "10.00", total: "210.00" },
                { id: "15", invdate: "2007-10-05", title: "test2", note: "note2", point: "300.00", tax: "20.00", total: "320.00" },
                { id: "16", invdate: "2007-09-06", title: "test3", note: "note3", point: "400.00", tax: "30.00", total: "430.00" },
                { id: "17", invdate: "2007-10-04", title: "test", note: "note", point: "200.00", tax: "10.00", total: "210.00" },
                { id: "18", invdate: "2007-10-03", title: "test2", note: "note2", point: "300.00", tax: "20.00", total: "320.00" },
                { id: "19", invdate: "2007-09-01", title: "test3", note: "note3", point: "400.00", tax: "30.00", total: "430.00" },
                { id: "21", invdate: "2007-10-01", title: "test", note: "note", point: "200.00", tax: "10.00", total: "210.00" },
                { id: "22", invdate: "2007-10-02", title: "test2", note: "note2", point: "300.00", tax: "20.00", total: "320.00" },
                { id: "23", invdate: "2007-09-01", title: "test3", note: "note3", point: "400.00", tax: "30.00", total: "430.00" },
                { id: "24", invdate: "2007-10-04", title: "test", note: "note", point: "200.00", tax: "10.00", total: "210.00" },
                { id: "25", invdate: "2007-10-05", title: "test2", note: "note2", point: "300.00", tax: "20.00", total: "320.00" },
                { id: "26", invdate: "2007-09-06", title: "test3", note: "note3", point: "400.00", tax: "30.00", total: "430.00" },
                { id: "27", invdate: "2007-10-04", title: "test", note: "note", point: "200.00", tax: "10.00", total: "210.00" },
                { id: "28", invdate: "2007-10-03", title: "test2", note: "note2", point: "300.00", tax: "20.00", total: "320.00" },
                { id: "29", invdate: "2007-09-01", title: "test3", note: "note3", point: "400.00", tax: "30.00", total: "430.00" }
            ];

            // Configuration for jqGrid Example 1
            $("#table_list_1").jqGrid({
                data: mydata,
                datatype: "local",
                height: 400,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 14,
                rowList: [15, 30, 45],
                colNames: ['Id', 'Title', 'Point', 'Notes'],
                colModel: [
                    { name: 'id', index: 'id', width: 60, sorttype: "int" },
                    { name: 'title', index: 'name', width: 100 },
                    { name: 'point', index: 'point', width: 80, align: "right", sorttype: "float", formatter: "number" },
                    { name: 'note', index: 'note', width: 150, sortable: false }
                ],
                pager: "#pager_list_1",
                viewrecords: true,
                caption: "Questions",
                hidegrid: false,
                onSelectRow: function (ids) {

                    //load answer binding to ko.observable (knockoutjs)
                    console.log(ids);
                }
            });

            // Configuration for jqGrid Example 2
            //$("#table_list_2").jqGrid({
            //    data: mydata,
            //    datatype: "local",
            //    height: 450,
            //    autowidth: true,
            //    shrinkToFit: true,
            //    rowNum: 20,
            //    rowList: [10, 20, 30],
            //    colNames: ['Inv No', 'Date', 'Client', 'Amount', 'Tax', 'Total', 'Notes'],
            //    colModel: [
            //        { title: 'id', index: 'id', editable: true, width: 60, sorttype: "int", search: true },
            //        { title: 'invdate', index: 'invdate', editable: true, width: 90, sorttype: "date", formatter: "date" },
            //        { title: 'name', index: 'name', editable: true, width: 100 },
            //        { title: 'amount', index: 'amount', editable: true, width: 80, align: "right", sorttype: "float", formatter: "number" },
            //        { title: 'tax', index: 'tax', editable: true, width: 80, align: "right", sorttype: "float" },
            //        { title: 'total', index: 'total', editable: true, width: 80, align: "right", sorttype: "float" },
            //        { title: 'note', index: 'note', editable: true, width: 100, sortable: false }
            //    ],
            //    pager: "#pager_list_2",
            //    viewrecords: true,
            //    caption: "Example jqGrid 2",
            //    add: true,
            //    edit: true,
            //    addtext: 'Add',
            //    edittext: 'Edit',
            //    hidegrid: false
            //});

            // Add selection
            //$("#table_list_2").setSelection(4, true);


            // Setup buttons
            //$("#table_list_2").jqGrid('navGrid', '#pager_list_2',
            //        { edit: true, add: true, del: true, search: true },
            //        { height: 200, reloadAfterSubmit: true }
            //);

            // Add responsive to jqGrid
            $(window).bind('resize', function () {
                var width = $('.jqGrid_wrapper').width();
                $('#table_list_1').setGridWidth(width);
                //$('#table_list_2').setGridWidth(width);
            });

            // Options for bar chart
            var barOptions = {
                series: { bars: { show: true, barWidth: 0.6, fill: true, fillColor: { colors: [{ opacity: 0.8 }, { opacity: 0.8 }] } } },
                xaxis: { tickDecimals: 0 },
                colors: ["#1ab394"],
                grid: { color: "#999999", hoverable: true, clickable: true, tickColor: "#D4D4D4", borderWidth: 0 },
                legend: { show: true },
                tooltip: true,
                tooltipOpts: { content: "Item: %x, Value: %y" }
            };

            // Ajax call for chart data
            //$.ajax({
            //    url: chartDataUrl,
            //    method: 'GET',
            //    dataType: 'json',
            //    success: function (data) {
            //        $.plot($("#flot-bar-chart"), [data], barOptions);
            //    }
            //});

            // Ajax call for table data
            $.ajax({
                url: tableDataUrl,
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    var div = $('#ajaxTable');
                    $.each(data, function (i, item) {
                        div.append(
                            $('<tr>')
                                .append($('<td>').html(item.Name)).append($('<td>').html(item.Position)).append($('<td>').html(item.Office)).append($('<td>').html(item.Age))
                            );
                    })
                }
            });

            // Calendar with ajax data
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: true,
                // Link to JSON data
                events: eventsDataUrl
            });

            // Ajax call for timeline data
            $.ajax({
                url: tasksDataUrl,
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    var timelineDiv = $('.inspinia-timeline');
                    $.each(data, function (i, item) {
                        addTimelineTask(timelineDiv, item);
                    })
                }
            });

            // Simple function to append new timeline element
            function addTimelineTask(timelineDiv, task) {
                switch (task.Type) {
                    case 'Call': iconType = "phone";
                        break;
                    case 'Meeting': iconType = "coffee";
                        break;
                    case 'Chat': iconType = "comments";
                        break;
                    case 'File': iconType = "file-text";
                        break;
                    default: iconType = "briefcase";
                }
                timelineDiv.append($('<div class="timeline-item">').html('<div class="row"> <div class="col-xs-3 date"><i class="fa fa-' + iconType + '"></i> ' + task.Time + ' <br></div> <div class="col-xs-7 content"><p class="m-b-xs"><strong>' + task.Title + '</strong></p> <p> ' + task.Desc + '</p> </div> </div>'))
            };
        });
    </script>
}