﻿@{
    ViewBag.Title = "Create";
}

@section Scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Create</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create Worker</h5>
                </div>
                <div class="ibox-content">

                    <form data-bind="submit: register">
                        <h3>Register</h3>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" type="text" data-bind="value: registerEmail" />
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" type="password" data-bind="value: registerPassword" />
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input class="form-control" type="password" data-bind="value: registerPassword2" />
                        </div>
                        <div class="form-group">
                            <label>Role Name</label>
                            @Html.DropDownList("ddlRole", (IEnumerable<SelectListItem>)ViewBag.Roles, new { @class = "form-control" })
                            @*<input class="form-control" type="text" data-bind="value: registerRoleName" />*@
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Create</button>
                        </div>
                    </form>

                    @*@using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Name)
                                        @Html.ValidationMessageFor(model => model.Name)
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white" })
                                    </div>
                                </div>
                            </div>
                        }*@

                </div>
            </div>
        </div>
    </div>
</div>


