﻿@model Core.Entities.Departments

@{
    ViewBag.Title = "Details";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details Worker</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        @*<dt>
                            @Html.DisplayNameFor(model => model.Position)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Position)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Office)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Office)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Extn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Extn)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Salary)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Salary)
                        </dd>*@

                    </dl>


                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white" })

                </div>
            </div>
        </div>
    </div>
</div>