﻿@model Core.Entities.CourseSyllabuses

@{
    ViewBag.Title = "Delete";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Delete</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Delete</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Course Syllabus</h5>
                </div>
                <div class="ibox-content">
                    <h4 class="text-danger">Are you sure you want to delete this?</h4>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        @*<dt>
                                @Html.DisplayNameFor(model => model.Position)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Position)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Office)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Office)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Extn)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Extn)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Salary)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Salary)
                            </dd>*@

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-primary" />
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>